<a href="https://colab.research.google.com/github/pbeens/ICS-Computer-Studies/blob/master/Coursera_Introduction_to_Data_Science_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1

Outline: https://www.coursera.org/learn/python-data-analysis/home/week/1

Forum: https://www.coursera.org/learn/python-data-analysis/discussions/weeks/1

## Introduction to Specialization

Video: https://www.coursera.org/learn/python-data-analysis/lecture/TPrDp/introduction-to-specialization

- Basic Python
- Pandas
- Advanced Querying and Manipulation
- Basic statistical analysis

## Introduction to the Course

Video: https://www.coursera.org/learn/python-data-analysis/lecture/MIvLe/introduction-to-the-course

- Data manipulation
- Pandas library, defacto standard
- Tutorial-style videos, using Jupyter
- Strategy for learning: take your own notes using Jupyter

## Syllabus

Link: https://www.coursera.org/learn/python-data-analysis/supplement/DNjE6/syllabus

- Prerequisites
- Grading and assignments
- Code of Conduct
- Working offline
- Accessibility
- Help!

## Notice for Auditing Learners: Assignment Submission

Can't submit assignments unless you are a verified (paid?) learner. A link is available to pursue this path.

## The Coursera Jupyter Notebook System

Video: https://www.coursera.org/learn/python-data-analysis/lecture/nWh1K/the-coursera-jupyter-notebook-system

- code cells and markdown cells
- code cells retain what they did in previous cells.
- Kernal/Runtime > Interrupt to stop a running process or infinite loop

## Your Personal Jupyter Notebook Workspace

Link: https://www.coursera.org/learn/python-data-analysis/ungradedLab/33VUU/your-personal-jupyter-notebook-workspace

## Week 1 Textbook Reading Assignment

Link: https://www.coursera.org/learn/python-data-analysis/supplement/fP74v/week-1-textbook-reading-assignment

- Chapter Two: Python Language Basics, IPython, and Jupyter Notebooks
- Chapter Three: Built-In Data Structures, Functions, and Files
- Chapter 4: NumPy Basics: Arrays and Vectorized Computation
- Appendix A: Advanced NumPy (optional)

### Magic Commands

In [1]:
# Jupyter has magic commands!
import numpy as np
%timeit a = np.random.randn(100, 100)

# magic commands can be assigned to variables
foo = %pwd
print(f'pwd: {foo}')

1000 loops, best of 5: 411 Âµs per loop
pwd: /content

- %quickref
- %magic
- %debug
- %hist
%pdb
%paste
%cpaste
%reset
%page OBJECT %run script.py %prun statement %time statement %timeit statement
%who, %who_ls, %whos 
%xdel variable

In [2]:
# May be useful later...
%matplotlib inline

## 50 years of Data Science, David Donoho (Optional)

Link: http://courses.csail.mit.edu/18.337/2015/docs/50YearsDataScience.pdf

## Python Functions

Video: https://www.coursera.org/learn/python-data-analysis/lecture/v7PKy/python-functions

High-level, interpretted language. Often used interactively, especially in Jupyter. Dynamically-typed, meaning variables are not declared as a specific type. 

Jupyter is stateful, meaning it retains values run in previous cells. 

A function returns None if not specified.

### Examples Demo'd

In [3]:
x = 1
y = 2
x + y

3

In [4]:
x

1

In [5]:
# a function, with optional 3rd parameter
def add_numbers(x, y, z=None):
  if (z == None):
    return x + y
  else:
    return x + y + z

print(add_numbers(2, 4, 2))
print(add_numbers(2, 4))

8
6

## Python Types and Sequences

Video: https://www.coursera.org/learn/python-data-analysis/lecture/fZ466/python-types-and-sequences

`type()` shows which type a variable is

Tuple is immutable (cannot be changed). Created with parentheses. 

Lists are mutable and created with brackets. `append()` lets you add items to the list.

Lists and tuples are iterable types, typically using a `for` loop. Can be accessed via an index. Can be accessed via slicing.

In [6]:
x = (1, 'a', 2, 'b')
print(type(x))
x = [1, 'a', 2, 'b']
print(type(x))
x.append(3.3)
print(x)
for item in x:
  print(item)
print(len(x))
print('a' in x)
print(x[0], x[0:1], x[0:2], x[:2], x[-2:])

<class 'tuple'>
<class 'list'>
[1, 'a', 2, 'b', 3.3]
1
a
2
b
3.3
5
True
1 [1] [1, 'a'] [1, 'a'] ['b', 3.3]

Strings can be split:

In [7]:
items = 'A B C D'.split()
print(items)

['A', 'B', 'C', 'D']

Dictionaries

In [8]:
# example from https://www.w3schools.com/python/python_dictionaries.asp
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for spec, data in thisdict.items():
  print(spec, data)

brand Ford
model Mustang
year 1964

In [9]:
for data in thisdict.values():
  print(data)

Ford
Mustang
1964

In [10]:
for key in thisdict.keys():
  print(key)

brand
model
year

Multiple assignments can be done at once.

In [11]:
a, b, c = 1, "abc", [4, 5]
print(a)
print(b)
print(c)

1
abc
[4, 5]

## Python More on Strings

Video: https://www.coursera.org/learn/python-data-analysis/lecture/HPh3O/python-more-on-strings

Strings are Unicode-based. They used to be based on ASCII which was too limited. UTF solves this problem by allowing over a million characters. 

Python allows placeholders for variables when concatenating strings. The video covers `format()` but we can now use f-strings.

## Python Demonstration: Reading and Writing CSV files

Video: https://www.coursera.org/learn/python-data-analysis/lecture/ktRTE/python-demonstration-reading-and-writing-csv-files

In [12]:
# This block will let you upload a file from your local computer.
# Instead, we will clone a GitHub repository, in the next cell.
import csv
# mpg.csv
from google.colab import files
# uploaded = files.upload() # Use GitHub clone instead!

In [13]:
!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [14]:
# Testing another way to get a file from online
import urllib.request
url = 'https://gist.githubusercontent.com/pbeens/09530d2a47a926940216b971ecdce369/raw/50f899381a90c94cfd130dc41599fb3d51a2d372/mpg.csv'
urllib.request.urlretrieve(url, "mpg.csv")

('mpg.csv', <http.client.HTTPMessage at 0x7f59f25e9510>)

In [15]:
import csv

# %precision 2 # not working in this cell for some reason
mpg_file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/datasets/mpg.csv'
with open(mpg_file) as csvfile:
  mpg = list(csv.DictReader(csvfile))

# let's look at the first entry
print(mpg[:1])

# how many entries?
print(len(mpg))

# the keys
print(mpg[0].keys())

# avg mpg, city and highway
cty_mpg_avg = sum(float(d['cty']) for d in mpg) / len(mpg) # uses list comprehension
print(f'{cty_mpg_avg:.2f}') # Note: %precision 2 did not work 
hwy_mpg_avg = sum(float(d['hwy']) for d in mpg) / len(mpg) # uses list comprehension
print(f'{hwy_mpg_avg:.2f}')

# cylinder mpg study
cylinders = set(d['cyl'] for d in mpg) # create set of # of cylinders
print(cylinders)

cty_mpg_by_cyl = []
for c in cylinders:
  sum_mpg = 0
  cyl_type_count = 0
  for d in mpg:
    if d['cyl'] == c:
      sum_mpg += float(d['cty'])
      cyl_type_count += 1
  cty_mpg_by_cyl.append((c, round(sum_mpg / cyl_type_count, 2)))
print(sorted(cty_mpg_by_cyl))

# vehicle class study
vehicle_classes = set(d['class'] for d in mpg)
print(vehicle_classes)

hwy_mpg_by_class = []
for vc in vehicle_classes:
  sum_mpg = 0
  vehicle_class_count = 0
  for d in mpg:
    if d['class'] == vc:
      sum_mpg += float(d['hwy'])
      vehicle_class_count += 1
  hwy_mpg_by_class.append((vc, round(sum_mpg / vehicle_class_count)))
print(sorted(hwy_mpg_by_class))

[OrderedDict([('', '1'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '1.8'), ('year', '1999'), ('cyl', '4'), ('trans', 'auto(l5)'), ('drv', 'f'), ('cty', '18'), ('hwy', '29'), ('fl', 'p'), ('class', 'compact')])]
234
odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])
16.86
23.44
{'8', '6', '5', '4'}
[('4', 21.01), ('5', 20.5), ('6', 16.22), ('8', 12.57)]
{'minivan', 'pickup', 'suv', 'midsize', 'subcompact', '2seater', 'compact'}
[('2seater', 25), ('compact', 28), ('midsize', 27), ('minivan', 22), ('pickup', 17), ('subcompact', 28), ('suv', 18)]

## Python Dates and Times

Video: https://www.coursera.org/learn/python-data-analysis/lecture/Fpybh/python-dates-and-times

Dates and times can be stored in many different days. Some use epoch as a date reference (January 1, 1970). In Python, you can use the time module.

In [16]:
import datetime as dt
import time as tm

In [17]:
tm.time()

1617633669.899557

In [18]:
# today's date (appears to be UTC)
dtnow = dt.datetime.fromtimestamp(tm.time())
print(dtnow)

2021-04-05 14:41:09.910508

In [19]:
# year, month, etc.
print(dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second)

2021 4 5 14 41 9

In [20]:
# time shifts
delta = dt.timedelta(days=100)
print(delta)

today = dt.date.today()
print(today + delta)

100 days, 0:00:00
2021-07-14

In [21]:
print(today > today-delta)

True

## Advanced Python Objects, map()

Video: https://www.coursera.org/learn/python-data-analysis/lecture/PeW28/advanced-python-objects-map

In [22]:
class Person:
  department = 'School of Information'

  def set_name(self, new_name):
    self.name = new_name
  def set_location(self, new_location):
    self.location = new_location

peter = Person()
peter.set_name = 'Peter'
peter.set_location = 'Canada'
print(peter.set_name, peter.set_location)

Peter Canada

## Advanced Python Lambda and List Comprehensions

Video: https://www.coursera.org/learn/python-data-analysis/lecture/AVjRT/advanced-python-lambda-and-list-comprehensions

Lambdas are used to create a temporary function.

In [23]:
my_function = lambda a, b, c : (a + b) ** c
my_function(1, 2, 3)

27

List comprehensions are an abbreviated method to created an iterable list. Are created on one line. LCs can include conditonal statements.

In [24]:
# conventional way
my_list = []
for num in range(20):
  if num % 2 == 0:
    my_list.append(num)
print(my_list)

# list comprehension way
print([n for n in range(20) if n % 2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Numerical Python Library (NumPy)

Video: https://www.coursera.org/learn/python-data-analysis/lecture/kAQc1/numerical-python-library-numpy

In [25]:
import numpy as np
import math

In [26]:
a = np.array([1, 2, 3])
print(a)
print(a.ndim) # number of dimensions

[1 2 3]
1

In [27]:
b = np.array([[1,2,3], [4,5,6]])
print(b)

[[1 2 3]
 [4 5 6]]

In [28]:
print(b.shape) # length of each dimension

(2, 3)

In [29]:
print(b.dtype) # what types of variables

int64

In [30]:
# also floats
c = np.array([2.2, 5, 1.1])
print(c.dtype.name) # same o/p as w/o .name?

float64

In [31]:
# create according to shape
d = np.zeros((2,3)) # must pass a tuple
print(d)
e = np.ones((2,3))
print(e)
f = np.random.rand(2,3) # not a tuple! 
print(f)
print(type(f))

[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]
[[0.9116345  0.11113463 0.29383588]
 [0.03191449 0.27524382 0.58961423]]
<class 'numpy.ndarray'>

In [32]:
# range of integers
f = np.arange(10, 20, 2) # 2nd parm is exclusive
print(f)
print(type(f))

[10 12 14 16 18]
<class 'numpy.ndarray'>

In [33]:
# a range of floats
np.linspace(0, 2, 15) # 15 numbers from 0 to 2

array([0.        , 0.14285714, 0.28571429, 0.42857143, 0.57142857,
       0.71428571, 0.85714286, 1.        , 1.14285714, 1.28571429,
       1.42857143, 1.57142857, 1.71428571, 1.85714286, 2.        ])

In [34]:
# Array Operations

a = np.array([10,20,30,40])
b = np.array([1,2,3,4])

c = a + b
print(c)
d = a * b
print(d)

[11 22 33 44]
[ 10  40  90 160]

In [35]:
deg_f = np.array([0,-10,-5,-15,0])
deg_c = (deg_f -32) * (5/9)
%precision 2
print(deg_c)

[-17.78 -23.33 -20.56 -26.11 -17.78]

In [36]:
# Boolean expressions on NP arrays
deg_c > -20

array([ True, False, False, False,  True])

In [37]:
# Matrix Manipulation
A = np.array([[1,1],[0,1]]) 
B = np.array([[2,0],[3,4]])
print(A * B)
# Matrix Product - Note the '@'
print(A@B)

[[2 0]
 [0 4]]
[[5 4]
 [3 4]]

In [38]:
# Video completed to 8:07 only

## Manipulating Text with Regular Expression

Video: https://www.coursera.org/learn/python-data-analysis/lecture/aSuH7/manipulating-text-with-regular-expression

AKA Regex. Pattern matching. Returns chunks of text. Why use? To check if pattern exists, or return instances of text, or clean up data.

In [39]:
import re

# match() returns a boolean

### re.search()

In [40]:
# search returns a boolean

text = 'This is a good day'
if re.search('good', text):
  print('Wonderful!')
else:
  print('Alas :(')

Wonderful!

### findall() and split()

In [41]:
# findall() and split() return chunks

text = 'Amy works diligently. Amy gets good grades. Our student Amy is successful'
print(re.split('Amy', text)) # returns chunks split on 'Amy'
print(re.findall('Amy', text))
print(len(re.findall('Amy', text))) # number of occurrences

['', ' works diligently. ', ' gets good grades. Our student ', ' is successful']
['Amy', 'Amy', 'Amy']
3

### Anchors

In [42]:
# Anchors, ^ = at start, $ = at end

print(re.search('^Amy', text)) # returns a re object

<re.Match object; span=(0, 3), match='Amy'>

### Patterns and Character Classes

In [43]:
# Patterns and Character Classes

grades = 'ACAAAABCBCBAA'

print(re.findall('B', grades)) # ['B', 'B', 'B']

# [] are used for options (or)

print(re.findall('[BC]', grades)) # ['C', 'B', 'C', 'B', 'C', 'B']

print(re.findall('[A][BC]', grades)) # ['AC', 'AB']
print(re.findall('[A][B-C]', grades)) # [B-C] is the range from B-C

# | = OR

print(re.findall('BC|BA', grades)) # ['BC', 'BC', 'BA']

# A carat can be used to negate inside of a set operator

print(re.findall('[^A]', grades)) # ['C', 'B', 'C', 'B', 'C', 'B']
print(re.findall('^[^A]', grades)) # produces [] empty list (starts with A)

['B', 'B', 'B']
['C', 'B', 'C', 'B', 'C', 'B']
['AC', 'AB']
['AC', 'AB']
['BC', 'BC', 'BA']
['C', 'B', 'C', 'B', 'C', 'B']
[]

### Quantifiers

In [44]:
import re

# Quantifiers - number of times e{m,n} e=expression, m=minTimes, n=MaxTimes 

grades = 'ACAAAABCBCBAA'

# streaks of a character
print(re.findall('A{2,10}', grades)) # between 2 and 10 A's = ['AAAA', 'AA']
print(re.findall('A{1,1}A{1,1}', grades)) # ['AA', 'AA', 'AA']

# regex "consumes" strings (i.e., characters are not reused)

# watching extra space!
print(re.findall('A{2,2}', grades)) # ['AA', 'AA', 'AA']
print(re.findall('A{2, 2}', grades)) # []

# one number in braces is considered min and max

print(re.findall('A{2}', grades)) # ['AA', 'AA', 'AA']

# * = 0 times
# ? = one or more times
# + = one or more times
# \w = any pattern of number or character
# \s = any whitespace

# remember to re-read in GitHub repository
ferpa = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-1/datasets/ferpa.txt'
with open(ferpa) as file:
  wiki = file.read()

# headers in this article look like this: Overview[edit]

# -> ['Overview[edit]', 'records[edit]', 'records[edit]']
# note that brackets must be escaped
print(re.findall('[a-z|A-Z]{1,100}\[edit\]', wiki))

# equivalent of previous example (with \w) Note: [\w] = [a-z|A-Z] 
print(re.findall('[\w]{1,100}\[edit\]', wiki))

# equivalent again! (with *)
print(re.findall('[\w]*\[edit\]', wiki))

# now let's include spaces to get entire headers
print(re.findall('[\w ]*\[edit\]', wiki)) # ['Overview[edit]', 'Access to public records[edit]', 'Student medical records[edit]']

# Let's extract the titles, splitting on the '[' at the beginning of [edit]
print('=== Titles ===')
for title in re.findall('[\w ]*\[edit\]', wiki):
  print(re.split('[\[]', title)[0])

['AAAA', 'AA']
['AA', 'AA', 'AA']
['AA', 'AA', 'AA']
[]
['AA', 'AA', 'AA']
['Overview[edit]', 'records[edit]', 'records[edit]']
['Overview[edit]', 'records[edit]', 'records[edit]']
['Overview[edit]', 'records[edit]', 'records[edit]']
['Overview[edit]', 'Access to public records[edit]', 'Student medical records[edit]']
=== Titles ===
Overview
Access to public records
Student medical records

### Groups

In [45]:
# Groups

# Let's improve upone the previous example by creating groups (in parentheses)
# item.groups() returns a tuple of each group item
# group(0) is the entire item, group(1) is first, etc.

print('=== Old way ===')
print(re.findall('[\w ]*\[edit\]', wiki))

print('=== item.groups() ===')
for item in re.finditer('([\w ]*)(\[edit\])', wiki):
  print(item.groups())

print('=== item.group(1) ===')
for item in re.finditer('([\w ]*)(\[edit\])', wiki):
  print(item.group(1))

# groups can be named with ?P<name> and use of groupdict()[]

print('=== named with ?P<name> ===')
for item in re.finditer('(?P<title>[\w ]*)(?P<edit_link>\[edit\])', wiki):
  print(item.groupdict()['title'])

print('=== groupdict() ===')
for item in re.finditer('(?P<title>[\w ]*)(?P<edit_link>\[edit\])', wiki):
  print(item.groupdict())

# . = single character
# /d = digit
# /s = white space

=== Old way ===
['Overview[edit]', 'Access to public records[edit]', 'Student medical records[edit]']
=== item.groups() ===
('Overview', '[edit]')
('Access to public records', '[edit]')
('Student medical records', '[edit]')
=== item.group(1) ===
Overview
Access to public records
Student medical records
=== named with ?P<name> ===
Overview
Access to public records
Student medical records
=== groupdict() ===
{'title': 'Overview', 'edit_link': '[edit]'}
{'title': 'Access to public records', 'edit_link': '[edit]'}
{'title': 'Student medical records', 'edit_link': '[edit]'}

### Look-ahead and Look-behind (stuff to ignore)

In [46]:
# Look-ahead and Look-behind with ?=
# This example ignores [edit]

for item in re.finditer('(?P<title>[\w ]+)(?=\[edit\])', wiki):
  print(item)

<re.Match object; span=(0, 8), match='Overview'>
<re.Match object; span=(2715, 2739), match='Access to public records'>
<re.Match object; span=(3692, 3715), match='Student medical records'>

### Example : Wikipedia Data

In [47]:
# Example : Wikipedia Data

import re

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-1/datasets/buddhist.txt'
with open(file) as f:
  wiki = f.read()

# print(wiki[:1000])

pattern = """
(?P<title>.*)       # the university title
(â\ located\ in\ )  # an indicator of the location (Note: copy correct dash type!)
(?P<city>\w*)       # city the university is in
(,\ )               # separator for the state
(?P<state>\w*)      # the state the university is located in
"""

print('=== re.finditer(pattern, wiki, re.VERBOSE) ===')
for item in re.finditer(pattern, wiki, re.VERBOSE):
  print(item.groupdict())

=== re.finditer(pattern, wiki, re.VERBOSE) ===
{'title': 'Dhammakaya Open University ', 'city': 'Azusa', 'state': 'California'}
{'title': 'Dharmakirti College ', 'city': 'Tucson', 'state': 'Arizona'}
{'title': 'Dharma Realm Buddhist University ', 'city': 'Ukiah', 'state': 'California'}
{'title': 'Ewam Buddhist Institute ', 'city': 'Arlee', 'state': 'Montana'}
{'title': 'Institute of Buddhist Studies ', 'city': 'Berkeley', 'state': 'California'}
{'title': 'Maitripa College ', 'city': 'Portland', 'state': 'Oregon'}
{'title': 'University of the West ', 'city': 'Rosemead', 'state': 'California'}
{'title': 'Won Institute of Graduate Studies ', 'city': 'Glenside', 'state': 'Pennsylvania'}

### Example: New York Times and Hashtags

In [48]:
# Example: New York Times and Hashtags

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-1/datasets/nytimeshealth.txt'
with open(file) as f:
  health = f.read()

print('=== health[:500] ===')
print(health[:500])

# let's grab hashtags

pattern = '#[\w\d]*(?=\s)'

print(re.findall(pattern, health))
print(set(re.findall(pattern, health))) # get rid of dupes

=== health[:500] ===
548662191340421120|Sat Dec 27 02:10:34 +0000 2014|Risks in Using Social Media to Spot Signs of Mental Distress http://nyti.ms/1rqi9I1
548579831169163265|Fri Dec 26 20:43:18 +0000 2014|RT @paula_span: The most effective nationwide diabetes prevention program you've probably never heard of:  http://newoldage.blogs.nytimes.com/2014/12/26/diabetes-prevention-that-works/
548579045269852161|Fri Dec 26 20:40:11 +0000 2014|The New Old Age Blog: Diabetes Prevention That Works http://nyti.ms/1xm7fTi
54844
['#askwell', '#pregnancy', '#Colorado', '#VegetarianThanksgiving', '#FallPrevention', '#Ebola', '#Ebola', '#ebola', '#Ebola', '#Ebola', '#EbolaHysteria', '#AskNYT', '#Ebola', '#Ebola', '#Liberia', '#Excalibur', '#ebola', '#Ebola', '#dallas', '#nobelprize2014', '#ebola', '#ebola', '#monrovia', '#ebola', '#nobelprize2014', '#ebola', '#nobelprize2014', '#Medicine', '#Ebola', '#Monrovia', '#Ebola', '#smell', '#Ebola', '#Ebola', '#Ebola', '#Monrovia', '#Ebola', '#ebola', '#monrovia', '#liberia', '#benzos', '#ClimateChange', '#Whole', '#Wheat', '#Focaccia', '#Tomatoes', '#Olives', '#Recipes', '#Health', '#Ebola', '#Monrovia', '#Liberia', '#Ebola', '#Ebola', '#Liberia', '#Ebola', '#blood', '#Ebola', '#organtrafficking', '#EbolaOutbreak', '#SierraLeone', '#Freetown', '#SierraLeone', '#ebolaoutbreak', '#kenema', '#ebola', '#Ebola', '#ebola', '#ebola', '#Ebola', '#ASMR', '#AIDS2014', '#AIDS', '#MH17', '#benzos']
{'#blood', '#Monrovia', '#Recipes', '#askwell', '#benzos', '#Wheat', '#Focaccia', '#monrovia', '#MH17', '#AIDS', '#SierraLeone', '#Colorado', '#Whole', '#ebolaoutbreak', '#dallas', '#kenema', '#ebola', '#Liberia', '#EbolaHysteria', '#EbolaOutbreak', '#organtrafficking', '#liberia', '#ClimateChange', '#FallPrevention', '#Ebola', '#ASMR', '#AIDS2014', '#VegetarianThanksgiving', '#Freetown', '#Excalibur', '#Health', '#Olives', '#smell', '#nobelprize2014', '#Tomatoes', '#Medicine', '#pregnancy', '#AskNYT'}

## Regular Expression Operations Documentation

See https://docs.python.org/3/library/re.html

## Regular Expressions Debugging

See https://regex101.com/

# Week 2: Basic Data Processing with Pandas

Week 2: https://www.coursera.org/learn/python-data-analysis/home/week/2

Discussion Forum: https://www.coursera.org/learn/python-data-analysis/discussions/weeks/2

In this week of the course you'll learn the fundamentals of one of the most important toolkits Python has for data cleaning and processing -- pandas. You'll learn how to read in data into DataFrame structures, how to query these structures, and the details about such structures are indexed.

Learning Objectives
- Demonstrate how the series class builds on top of numpy datatypes
- Remember that the series class is a numpy array
- Demonstrate the basics of how to query a series structure
- Remember the dataframe as the principle data science structure
- Define the various features of a dataframe
- Demonstrate what an axis is in relation to dataframes
- Demonstrate the difference between the series and dataframe classes
- Create and use pandas DataFrames to represent raw data

## Week 2 Reading Assignments

Course Textbook
[Python for Data Analysis](https://wesmckinney.com/pages/book.html) by Wes McKinney (OâReilly). Copyright 2017 Wes McKinney, 978-1-491-95766-0.

- Chapter Five: Getting started with pandas
- Chapter Seven: Data Cleaning and Preparation

## Introduction to Pandas

Video: https://www.coursera.org/learn/python-data-analysis/lecture/khJPQ/introduction-to-pandas

Stack Overflow Reference: https://stackoverflow.com/questions/tagged/pandas

Open Source, created in 2008 by Wes McKinney (the same author as the referece book)

See https://planetpython.org/

## The Series Data Structure

Video: https://www.coursera.org/learn/python-data-analysis/lecture/lhVO7/the-series-data-structure

In [49]:
import pandas as pd

students = ['Alice', 'Jack', 'Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [50]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [51]:
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [52]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [53]:
import numpy as np

print(np.nan == None) # False
print(np.nan == np.nan) # False (what?!! You can't do an equiality test to NaN...)
print(np.isnan(np.nan)) # True (this works this way)

False
False
True

In [54]:
import pandas as pd

student_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'MOlly': 'English'}

s = pd.Series(student_scores)
print(s)

Alice      Physics
Jack     Chemistry
MOlly      English
dtype: object

In [55]:
print(s.index)

Index(['Alice', 'Jack', 'MOlly'], dtype='object')

In [56]:
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')] # list of Tuples
print(pd.Series(students))

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [57]:
s = pd.Series(['Physics', 'Chemistry', 'English'], index = ['Alice', 'Jack', 'Molly'])
print(s)

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [58]:
# What happens when series doesn't agree with index? NaN
student_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English'}
s = pd.Series(student_scores, index = ['Alice', 'Molly', 'Sam'])
print(s)

Alice    Physics
Molly    English
Sam          NaN
dtype: object

## Querying a Series

Video: https://www.coursera.org/learn/python-data-analysis/lecture/3Fk9W/querying-a-series

Can query by index position (iloc) or index label (loc).

What does the term âbroadcastingâ mean in Pandas documentation?
https://stackoverflow.com/questions/29954263/what-does-the-term-broadcasting-mean-in-pandas-documentation

In [59]:
import pandas as pd

student_classes = pd.Series(['Physics', 'Chemistry', 'English', 'History'], index = ['Alice', 'Jack', 'Molly', 'Sam'])
s = pd.Series(student_classes)
print(s)

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [60]:
print(s.iloc[3]) # index #3

History

In [61]:
print(s.loc['Molly']) # index 'Molly'

English

In [62]:
print(s[0])     # both work! 
print(s['Alice'])

Physics
Physics

In [63]:
class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
# print(class_code[0]) # won't work in this case because indices are numbers
print(class_code[99]) # works

Physics

In [64]:
# iterate over list - long way

grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
  total += grade
print(total/len(grades))

75.0

In [65]:
# iterate over list - better way

import numpy as np

total = np.sum(grades)
print(total / len(grades))

75.0

In [66]:
# Let's set up to time the different methods to show which is faster

numbers = pd.Series(np.random.randint(0, 1000, 10000))
print(len(numbers))
print(numbers.head())

10000
0    264
1    883
2    904
3    764
4    894
dtype: int64

In [67]:
%%timeit -n100

# iterative way

total = 0
for number in numbers:
  total += number
total / len(numbers)

100 loops, best of 5: 1.39 ms per loop

In [68]:
%%timeit -n100

# better way - way faster! (uses numpy broadcasting)

total = np.sum(numbers)
total/len(numbers)

100 loops, best of 5: 70.6 Âµs per loop

In [69]:
print(numbers.head())

0    264
1    883
2    904
3    764
4    894
dtype: int64

In [70]:
# let's add 2 to all items
numbers += 2 # works fast on a np.Series! 
print(numbers.head())

0    266
1    885
2    906
3    766
4    896
dtype: int64

In [71]:
%%timeit n=10

# slow iterative approach

s = pd.Series(np.random.randint(0, 1000, 10000))
for label, value in s.iteritems():
  s.loc[label] = value + 2

1 loop, best of 5: 554 ms per loop

In [72]:
%%timeit -n10

# waaaay faster way!

s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 5: 334 Âµs per loop

In [73]:
s = pd.Series([1,2,3])
s.loc['History'] = 102 # add new index. Not a problem
print(s)

0            1
1            2
2            3
History    102
dtype: int64

In [74]:
# unique indexes
students_classes = pd.Series({'Alice': 'Physics',
                              'Jack': 'Chemistry',
                              'Molly': 'English',
                              'Sam': 'History'})
print(student_classes)

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [75]:
# identtical indexes
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index = ['Kelly', 'Kelly', 'Kelly'])
print(kelly_classes)

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [76]:
# merge the dissimilar Series - not a problem!
# Pandas always does its best to merge series
all_students_classes = students_classes.append(kelly_classes)
print(all_students_classes)

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

## DataFrame Data Structure

Video: https://www.coursera.org/learn/python-data-analysis/lecture/J8MzB/dataframe-data-structure

Dataframes are the heart of the panda library. A 2-dimensional series, with an index and multiple columns of data.

In [77]:
import pandas as pd

# let's set up some data to use (multiple dictionaries)

record1 = pd.Series({'Name': 'Alice',
                     'Class': 'Physics',
                     'Score': 85})
record2 = pd.Series({'Name': 'Jack',
                     'Class': 'Chemistry',
                     'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                     'Class': 'Biology',
                     'Score': 90})

df = pd.DataFrame([record1, record2, record3], 
                  index = ['school1', 'school2', 'school3'])

In [78]:
df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school3  Helen    Biology     90

In [79]:
# Another way to enter the data (list of dictionaries)

students = [{'Name': 'Alice',
                     'Class': 'Physics',
                     'Score': 85},
            {'Name': 'Jack',
             'Class': 'Chemistry',
                     'Score': 82},
            {'Name': 'Helen',
             'Class': 'Biology',
             'Score': 90}]

df = pd.DataFrame(students, index = ['school1', 'school2', 'school1']) # two school 1's
df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [80]:
# accessing by index

df.loc['school2']

Name          Jack
Class    Chemistry
Score           82
Name: school2, dtype: object

In [81]:
# what type is the data?

print(type(df.loc['school2'])) # one record, so it's a Series
print(type(df.loc['school1'])) # two records, do it's a DataFrame

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [82]:
df.loc['school1']

          Name    Class  Score
school1  Alice  Physics     85
school1  Helen  Biology     90

In [83]:
# only return specific data, not entire record

df.loc['school1', 'Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [84]:
# how to transpose the data

df.T

       school1    school2  school1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         82       90

In [85]:
# What if we want all the contents of a column? Transpose first....

df.T.loc['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [86]:
# but this does the same...! (why transpose then????)
# note: .loc() not used to get the columnar data

df['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [87]:
# Columnar selection returns a Series, not a DataFrame

type(df['Name'])

# Just use type() to check what something returns

pandas.core.series.Series

In [88]:
# .loc() can use slicing

df.loc[:,['Name', 'Score']]

          Name  Score
school1  Alice     85
school2   Jack     82
school1  Helen     90

In [89]:
# data can be dropped

df.drop('school2')

          Name    Class  Score
school1  Alice  Physics     85
school1  Helen  Biology     90

In [90]:
# ...but the dropped data is still there!
# (returns a copy)

df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [91]:
# Use inpalce=True to really drop the data!
# axis=0 is a row (default), axis=1 is a column
# Using a copy of the data here

copy_df = df.copy()
copy_df.drop('Name', inplace=True, axis=1)
copy_df

             Class  Score
school1    Physics     85
school2  Chemistry     82
school1    Biology     90

In [92]:
# A 2nd way to drop a column
# This is permanent. A copy is NOT returned.

del copy_df['Class']
copy_df

         Score
school1     85
school2     82
school1     90

In [93]:
# Add a column. 

df['ClassRanking'] = None
df

          Name      Class  Score ClassRanking
school1  Alice    Physics     85         None
school2   Jack  Chemistry     82         None
school1  Helen    Biology     90         None

## DataFrame Indexing and Loading

Video: https://www.coursera.org/learn/python-data-analysis/lecture/BLY4L/dataframe-indexing-and-loading

Basic process:

- read data in, usually from external file (CSV, Excel)
- clean and manipulate the dataset for analysis

In [94]:
!cat /content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/Admission_Predict.csv | head

Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR ,CGPA,Research,Chance of Admit
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4,4.5,8.87,1,0.76
3,316,104,3,3,3.5,8,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.8
5,314,103,2,2,3,8.21,0,0.65
6,330,115,5,4.5,3,9.34,1,0.9
7,321,109,3,3,4,8.2,1,0.75
8,308,101,2,3,4,7.9,0,0.68
9,302,102,1,2,1.5,8,0,0.5

In [95]:
# loading a dataset from CSV

import pandas as pd

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/Admission_Predict.csv'
# assign an index when reading in the CSV. Can be indexed or numeric
df = pd.read_csv(file, index_col = 'Serial No.') # index_col = 0 also works

df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1              0.92
2                 324          107  ...         1              0.76
3                 316          104  ...         1              0.72
4                 322          110  ...         1              0.80
5                 314          103  ...         0              0.65

[5 rows x 8 columns]

In [96]:
# Let's create a new DF and do a cleanup
new_df = df.rename(columns = {'GRE Score': 'GRE Score',
                              'TOEFL Score': 'TOEFL Score',
                              'University Rating': 'University Rating',
                              'SOP': 'Statement of Purpose',
                              'LOR': 'Letter of Recommendation',
                              'CGPA': 'CGPA',
                              'Research': 'Research',
                              'Chance of Admit': 'Chance of Admit'})
new_df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1              0.92
2                 324          107  ...         1              0.76
3                 316          104  ...         1              0.72
4                 322          110  ...         1              0.80
5                 314          103  ...         0              0.65

[5 rows x 8 columns]

In [97]:
# Some did not rename. Why not? Note the extra space in some column titles

new_df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'Statement of Purpose',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [98]:
# Fixing the column names should work

new_df = df.rename(columns = {'GRE Score': 'GRE Score',
                              'TOEFL Score': 'TOEFL Score',
                              'University Rating': 'University Rating',
                              'SOP': 'Statement of Purpose',
                              'LOR ': 'Letter of Recommendation',
                              'CGPA': 'CGPA',
                              'Research': 'Research',
                              'Chance of Admit ': 'Chance of Admit'})
new_df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
5                 314          103  ...         0             0.65

[5 rows x 8 columns]

In [99]:
# We could have also used strip() before renaming

new_df = new_df.rename(mapper=str.strip, axis='columns')
new_df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
5                 314          103  ...         0             0.65

[5 rows x 8 columns]

In [100]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [101]:
# Another way to clean up the column names

cols = list(df.columns)
cols = [x.strip() for x in cols]
df.columns = cols 
df.columns # no spaces now

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

## Querying a DataFrame

Video: https://www.coursera.org/learn/python-data-analysis/lecture/SnkqS/querying-a-dataframe

In [102]:
# prep data

import pandas as pd

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/Admission_Predict.csv'
df = pd.read_csv(file, index_col=0)
# clean up the empty spaces
df.columns = [x.strip() for x in df.columns] 
df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
5                 314          103  ...         0             0.65

[5 rows x 8 columns]

In [103]:
# creating a mask

admit_mask = df['Chance of Admit'] > 0.7
admit_mask.head()

Serial No.
1     True
2     True
3     True
4     True
5    False
Name: Chance of Admit, dtype: bool

In [104]:
# using the mask using .where()

df.where(admit_mask).head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1               337.0        118.0  ...       1.0             0.92
2               324.0        107.0  ...       1.0             0.76
3               316.0        104.0  ...       1.0             0.72
4               322.0        110.0  ...       1.0             0.80
5                 NaN          NaN  ...       NaN              NaN

[5 rows x 8 columns]

In [105]:
# let's get rid of the NaN data using dropna()

df.where(admit_mask).dropna().head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1               337.0        118.0  ...       1.0             0.92
2               324.0        107.0  ...       1.0             0.76
3               316.0        104.0  ...       1.0             0.72
4               322.0        110.0  ...       1.0             0.80
6               330.0        115.0  ...       1.0             0.90

[5 rows x 8 columns]

In [106]:
# instead of using where()
# more difficult to read but more common

df[df['Chance of Admit'] > 0.7].head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
6                 330          115  ...         1             0.90

[5 rows x 8 columns]

In [107]:
# reading individual columns

df['GRE Score'].head()

Serial No.
1    337
2    324
3    316
4    322
5    314
Name: GRE Score, dtype: int64

In [108]:
# ...and multiple columns using a list of columns

df[['GRE Score', 'TOEFL Score']].head()

            GRE Score  TOEFL Score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [109]:
# multiple masks using boolean expressions
# note use of parentheses to fix order of operations error that would result

(df['Chance of Admit'] > 0.7) & (df['Chance of Admit'] < 0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: Chance of Admit, Length: 400, dtype: bool

In [110]:
# another (better?) way to do this
# parentheses no longer needed, using .gt() and .lt()

df['Chance of Admit'].gt(0.7) & df['Chance of Admit'].lt(0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: Chance of Admit, Length: 400, dtype: bool

In [111]:
# This is also supposed to work!
# ...but it doesn't. The results are different than the previous example.
# This error in the video has been passed along to the professor
# but he hasn't done anything about it yet. It's a cool technique but 
# it seems to have a flaw.

df['Chance of Admit'].gt(0.7).lt(0.9)

Serial No.
1      False
2      False
3      False
4      False
5       True
       ...
396    False
397    False
398    False
399     True
400    False
Name: Chance of Admit, Length: 400, dtype: bool

## Indexing Dataframes

Video: https://www.coursera.org/learn/python-data-analysis/lecture/w8ZNA/indexing-dataframes

Indexes can be set automatically or set manually with set_index().

In [112]:
import pandas as pd

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/Admission_Predict.csv'
df = pd.read_csv(file, index_col=0)
# clean up the empty spaces
df.columns = [x.strip() for x in df.columns] 
df.head()

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
5                 314          103  ...         0             0.65

[5 rows x 8 columns]

In [113]:
df['Serial No.'] = df.index # but it's already Serial No so why do we do this???
df.head()

            GRE Score  TOEFL Score  ...  Chance of Admit  Serial No.
Serial No.                          ...
1                 337          118  ...             0.92           1
2                 324          107  ...             0.76           2
3                 316          104  ...             0.72           3
4                 322          110  ...             0.80           4
5                 314          103  ...             0.65           5

[5 rows x 9 columns]

In [114]:
df = df.set_index('Chance of Admit') # set index to another column
df.head()

                 GRE Score  TOEFL Score  ...  Research  Serial No.
Chance of Admit                          ...
0.92                   337          118  ...         1           1
0.76                   324          107  ...         1           2
0.72                   316          104  ...         1           3
0.80                   322          110  ...         1           4
0.65                   314          103  ...         0           5

[5 rows x 8 columns]

In [115]:
# to get rid of index

df = df.reset_index()
df.head()

   Chance of Admit  GRE Score  TOEFL Score  ...  CGPA  Research  Serial No.
0             0.92        337          118  ...  9.65         1           1
1             0.76        324          107  ...  8.87         1           2
2             0.72        316          104  ...  8.00         1           3
3             0.80        322          110  ...  8.67         1           4
4             0.65        314          103  ...  8.21         0           5

[5 rows x 9 columns]

In [116]:
# multi-column index, using a different data set

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/census.csv'
df = pd.read_csv(file)
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [117]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [118]:
# Checking the unqiue values in the SUMLEV column

df['SUMLEV'].unique()

array([40, 50])

In [119]:
# We only want a subset, where SUMLEV = 50

df = df[df['SUMLEV'] == 50]
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861
5      50       3         6  ...    -1.402476    -1.577232   -0.884411

[5 rows x 100 columns]

In [120]:
# Further reducing the subset

columns_to_keep = ['STNAME','CTYNAME','BIRTHS2010','BIRTHS2011','BIRTHS2012','BIRTHS2013',
                   'BIRTHS2014','BIRTHS2015','POPESTIMATE2010','POPESTIMATE2011', 
                   'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

    STNAME         CTYNAME  ...  POPESTIMATE2014  POPESTIMATE2015
1  Alabama  Autauga County  ...            55290            55347
2  Alabama  Baldwin County  ...           199713           203709
3  Alabama  Barbour County  ...            26815            26489
4  Alabama     Bibb County  ...            22549            22583
5  Alabama   Blount County  ...            57658            57673

[5 rows x 14 columns]

In [121]:
# Let's try two columns for the index

df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  ...  POPESTIMATE2015
STNAME  CTYNAME                     ...
Alabama Autauga County         151  ...            55347
        Baldwin County         517  ...           203709
        Barbour County          70  ...            26489
        Bibb County             44  ...            22583
        Blount County          183  ...            57673

[5 rows x 12 columns]

In [122]:
# Let's do a complex query using the index
# Watch the order!

df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [123]:
# looking at two counties
# the index is a list of tuples

df.loc[[('Michigan', 'Washtenaw County'),
        ('Michigan', 'Wayne County')]]

                           BIRTHS2010  ...  POPESTIMATE2015
STNAME   CTYNAME                       ...
Michigan Washtenaw County         977  ...           358880
         Wayne County            5918  ...          1759335

[2 rows x 12 columns]

In [124]:
# Transposed with .T

df.loc[[('Michigan', 'Washtenaw County'),
        ('Michigan', 'Wayne County')]].T

STNAME                  Michigan
CTYNAME         Washtenaw County Wayne County
BIRTHS2010                   977         5918
BIRTHS2011                  3826        23819
BIRTHS2012                  3780        23270
BIRTHS2013                  3662        23377
BIRTHS2014                  3683        23607
BIRTHS2015                  3709        23586
POPESTIMATE2010           345563      1815199
POPESTIMATE2011           349048      1801273
POPESTIMATE2012           351213      1792514
POPESTIMATE2013           354289      1775713
POPESTIMATE2014           357029      1766008
POPESTIMATE2015           358880      1759335

## Missing Values

Video: https://www.coursera.org/learn/python-data-analysis/lecture/Sg47m/missing-values

In [125]:
import pandas as pd

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/class_grades.csv'

df = pd.read_csv(file)
df.head()

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [126]:
# How a mask works

mask=df.isnull()
mask.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0   False       False     False    False     False  False
1   False       False     False    False     False  False
2   False       False     False     True     False  False
3   False        True      True    False     False  False
4   False       False     False    False     False  False

In [127]:
# You can get rid of NaN data entirely

df.dropna().head(10)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72
12       8       97.16    103.71    72.50     93.52  63.33
13       7       91.28     83.53    81.25     99.81  92.22

In [128]:
# Replace NaN with...
# Note use of inplace to overwrite the dataframe

df.fillna(0, inplace=True)
df.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17     0.00     63.15  48.89
3       7        0.00      0.00    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [129]:
file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/log.csv'

df = pd.read_csv(file)
df.head(10)

# Note: time in epoch format

         time    user       video  playback position paused  volume
0  1469974424  cheryl  intro.html                  5  False    10.0
1  1469974454  cheryl  intro.html                  6    NaN     NaN
2  1469974544  cheryl  intro.html                  9    NaN     NaN
3  1469974574  cheryl  intro.html                 10    NaN     NaN
4  1469977514     bob  intro.html                  1    NaN     NaN
5  1469977544     bob  intro.html                  1    NaN     NaN
6  1469977574     bob  intro.html                  1    NaN     NaN
7  1469977604     bob  intro.html                  1    NaN     NaN
8  1469974604  cheryl  intro.html                 11    NaN     NaN
9  1469974694  cheryl  intro.html                 14    NaN     NaN

In [130]:
# bfill() and ffill() (backward- and forward-fill)

df = df.set_index('time')
df = df.sort_index()
df.head(10)

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN

In [131]:
# not all time indices are unique so let's use multi-column index

df = df.reset_index()
df = df.set_index(['time', 'user'])
df.head(10)

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN

In [132]:
# let's fix missing data

df = df.fillna(method='ffill')
df.head(10)

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0

In [133]:
# Playing with some new data

df = pd.DataFrame({'A': [1,1,2,3,4],
                   'B': [3,6,3,8,9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  1  3  a
1  1  6  b
2  2  3  c
3  3  8  d
4  4  9  e

In [134]:
 # replacing the 1's with 100

 df.replace(1,100)

     A  B  C
0  100  3  a
1  100  6  b
2    2  3  c
3    3  8  d
4    4  9  e

In [135]:
# multiple replacements

df.replace([1,3], [100,300])

     A    B  C
0  100  300  a
1  100    6  b
2    2  300  c
3  300    8  d
4    4    9  e

In [136]:
# regex replacement (setup)

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/log.csv'

df = pd.read_csv(file)
df.head(10)

         time    user       video  playback position paused  volume
0  1469974424  cheryl  intro.html                  5  False    10.0
1  1469974454  cheryl  intro.html                  6    NaN     NaN
2  1469974544  cheryl  intro.html                  9    NaN     NaN
3  1469974574  cheryl  intro.html                 10    NaN     NaN
4  1469977514     bob  intro.html                  1    NaN     NaN
5  1469977544     bob  intro.html                  1    NaN     NaN
6  1469977574     bob  intro.html                  1    NaN     NaN
7  1469977604     bob  intro.html                  1    NaN     NaN
8  1469974604  cheryl  intro.html                 11    NaN     NaN
9  1469974694  cheryl  intro.html                 14    NaN     NaN

In [137]:
# regex replacement

df = df.replace(to_replace='.*.html$', value='webpage', regex=True)
df.head()

         time    user    video  playback position paused  volume
0  1469974424  cheryl  webpage                  5  False    10.0
1  1469974454  cheryl  webpage                  6    NaN     NaN
2  1469974544  cheryl  webpage                  9    NaN     NaN
3  1469974574  cheryl  webpage                 10    NaN     NaN
4  1469977514     bob  webpage                  1    NaN     NaN

## Example: Manipulating DataFrame

Video: https://www.coursera.org/learn/python-data-analysis/lecture/BvAgY/example-manipulating-dataframe

In [138]:
import pandas as pd

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [139]:
file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-2/datasets/presidents.csv'

df = pd.read_csv(file)
df.head()

   #          President  ...          Died                 Age
0  1  George Washington  ...  Dec 14, 1799  67Â years, 295Â days
1  2         John Adams  ...   Jul 4, 1826  90Â years, 247Â days
2  3   Thomas Jefferson  ...   Jul 4, 1826   83Â years, 82Â days
3  4      James Madison  ...  Jun 28, 1836  85Â years, 104Â days
4  5       James Monroe  ...   Jul 4, 1831   73Â years, 67Â days

[5 rows x 8 columns]

In [140]:
# create first name field

# one technique: copy name field and do cleanup - not efficient

df['First'] = df['President']
df['First'] = df['First'].replace('[ ].*', '', regex=True)
df.head()

   #          President  ...                 Age   First
0  1  George Washington  ...  67Â years, 295Â days  George
1  2         John Adams  ...  90Â years, 247Â days    John
2  3   Thomas Jefferson  ...   83Â years, 82Â days  Thomas
3  4      James Madison  ...  85Â years, 104Â days   James
4  5       James Monroe  ...   73Â years, 67Â days   James

[5 rows x 9 columns]

In [141]:
# Get rid of ['First'] so we can try another technique

del(df['First'])

In [142]:
# Another way, using .apply()

def split_name(row):
  row['First'] = row['President'].split(' ')[0]
  row['Last'] = row['President'].split(' ')[-1]
  return row

df = df.apply(split_name, axis='columns')
df.head()

   #          President  ...   First        Last
0  1  George Washington  ...  George  Washington
1  2         John Adams  ...    John       Adams
2  3   Thomas Jefferson  ...  Thomas   Jefferson
3  4      James Madison  ...   James     Madison
4  5       James Monroe  ...   James      Monroe

[5 rows x 10 columns]

In [143]:
# cleanup to try again

del(df['First'])
del(df['Last'])

In [144]:
# using a pattern

pattern='(^[\w]*)(?:.* )([\w]*$)'
df['President'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [145]:
# Using the pattern again, but this time naming the fields with ?P<nameOfField>

pattern='(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)'
names = df['President'].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [146]:
df['First'], df['Last'] = names['First'], names['Last']
df.head()

   #          President  ...   First        Last
0  1  George Washington  ...  George  Washington
1  2         John Adams  ...    John       Adams
2  3   Thomas Jefferson  ...  Thomas   Jefferson
3  4      James Madison  ...   James     Madison
4  5       James Monroe  ...   James      Monroe

[5 rows x 10 columns]

In [147]:
# Getting the date of birth using the useful str module

df['Born'] = df['Born'].str.extract('([\w]{3} [\w]{1,2}, [\w]{4})')
df['Born'].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: Born, dtype: object

In [148]:
# Let's re-do this so it's a date format, not object

df['Born'] = pd.to_datetime(df['Born'])
df['Born'].head()

0   1732-02-22
1   1735-10-30
2   1743-04-13
3   1751-03-16
4   1758-04-28
Name: Born, dtype: datetime64[ns]

# Week 3: More Data Processing with Pandas

In this week you'll deepen your understanding of the python pandas library by learning how to merge DataFrames, generate summary tables, group data into logical pieces, and manipulate dates. We'll also refresh your understanding of scales of data, and discuss issues with creating metrics for analysis. The week ends with a more significant programming assignment.

Learning Objectives
- Create and use pandas DataFrames to represent raw data

## Week 3 Reading Assignments

Course Textbook

Python for Data Analysis by Wes McKinney (OâReilly). Copyright 2017 Wes McKinney, 978-1-491-95766-0.

- Chapter Eight: Data Wrangling: Join, Combine, and Reshape
- Chapter Ten: Data Aggregation and Group Operations
- Chapter Twelve: Advanced pandas

## Merging Dataframes

Video: https://www.coursera.org/learn/python-data-analysis/lecture/Kgwr5/merging-dataframes

Venn diagram terminology
- union (all)
- intersection (overlap)

In [149]:
import pandas as pd

# First we create two DataFrames, staff and students.

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                        {'Name': 'Sally', 'Role': 'Course liasion'},
                        {'Name': 'James', 'Role': 'Grader'}])
# And lets index these staff by name
staff_df = staff_df.set_index('Name')

print(staff_df.head())

# Now we'll create a student dataframe
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                          {'Name': 'Mike', 'School': 'Law'},
                          {'Name': 'Sally', 'School': 'Engineering'}])
# Index by name as well
student_df = student_df.set_index('Name')

print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [150]:
# Let's merge ALL the data (union)
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

# Note the NaN's

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [151]:
# Intersection - only records in both data sets

pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [152]:
# Left join (i.e., all staff members)

pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [153]:
# Right join (i.e., all students)

pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [154]:
# Column merge

# First, delete indexes
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

pd.merge(staff_df, student_df, how='right', on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [155]:
# Watch when there are duplicate fields

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])

pd.merge(staff_df, student_df, how='left', on='Name')

# Note the two location fields. _x is left, _y is right

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [156]:
# Merge on two fields
# Note: Sally is only one in both groups (how='inner')

staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])
pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [157]:
# In case we need to get the data again

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

# Note: in the example below %%capture is supposed to ignore bad lines

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [158]:
%%capture 
df_2011 = pd.read_csv('/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/college_scorecard/MERGED2011_12_PP.csv', error_bad_lines=False)
df_2012 = pd.read_csv('/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/college_scorecard/MERGED2012_13_PP.csv', error_bad_lines=False)
df_2013 = pd.read_csv('/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/college_scorecard/MERGED2013_14_PP.csv', error_bad_lines=False)

In [159]:
df_2011.head()

# look at size of index[1]!

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268

In [160]:
frames = [df_2011, df_2012, df_2013]
pd.concat(frames)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268
0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
1                                     size 157050855
0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
1                                     size 157811280

In [161]:
print(len(df_2011), len(df_2012), len(df_2013))
print(len(df_2011)+len(df_2012)+len(df_2013))
print(len(pd.concat(frames))) # same as sum, so contat() works!

2 2 2
6
6

In [162]:
# setting keys for the datasets

pd.concat(frames, keys=['2011', '2012', '2013'])

               version https://git-lfs.github.com/spec/v1
2011 0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
     1                                     size 309076268
2012 0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
     1                                     size 157050855
2013 0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
     1                                     size 157811280

In [163]:
# inner and outer also work for merging, important depending on datasets

### Summary

"Now you know how to merge and concatenate datasets together. You will find such functions very useful for combining data to get more complex or complicated results and to do analysis with. A solid understanding of how to merge data is absolutely essentially when you are procuring, cleaning, and manipulating data. It's worth knowing how to join different datasets quickly, and the different options you can use when joining datasets, and I would encourage you to check out the pandas docs for joining and concatenating data."

## Pandas Idioms

Video: https://www.coursera.org/learn/python-data-analysis/lecture/iAJ8g/pandas-idioms

The "best" solutions are often referred to as idiomatic, especially in Python. Pandas also has idiomatic solutions, jokingly referred to as pandorable. 

"Python programmers will often suggest that there many ways the language can be used to solve a particular problem. But that some are more appropriate than others. The best solutions are celebrated as Idiomatic Python and there are lots of great examples of this on StackOverflow and other websites.

A sort of sub-language within Python, Pandas has its own set of idioms. We've alluded to some of these already, such as using vectorization whenever possible, and not using iterative loops if you don't need to. Several developers and users within the Panda's community have used the term pandorable for these idioms. I think it's a great term. So, I wanted to share with you a couple of key features of how you can make your code pandorable."

In [164]:
# In case we need to get the data again

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

census_data = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/census.csv'

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [165]:
import pandas as pd
import numpy as np
import timeit

df = pd.read_csv(census_data)
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [166]:
# looking at chaining, first the pandorable method
# note the leading parenthisis to allow multiple lines for readability

(df.where(df['SUMLEV']==50)
  .dropna()
  .set_index(['STNAME', 'CTYNAME'])
  .rename(columns={'ESTMIMATESBASE2010': 'Estimates Base 2010'}))

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County       50.0     3.0  ...     2.592270    -2.187333
        Baldwin County       50.0     3.0  ...    20.317142    18.293499
        Barbour County       50.0     3.0  ...    -3.978583   -10.543299
        Bibb County          50.0     3.0  ...     0.754533     1.107861
        Blount County        50.0     3.0  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County    50.0     4.0  ...   -14.075283   -14.070195
        Teton County         50.0     4.0  ...    16.308671     1.520747
        Uinta County         50.0     4.0  ...   -14.740608   -12.606351
        Washakie County      50.0     4.0  ...   -18.020168     1.441961
        Weston County        50.0     4.0  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [167]:
# the "unpandorable" way

df = df[df['SUMLEV']==50]
df.set_index(['STNAME', 'CTYNAME'], inplace=True)
df.rename(columns={'ESTMIMATESBASE2010': 'Estimates Base 2010'})

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County         50       3  ...     2.592270    -2.187333
        Baldwin County         50       3  ...    20.317142    18.293499
        Barbour County         50       3  ...    -3.978583   -10.543299
        Bibb County            50       3  ...     0.754533     1.107861
        Blount County          50       3  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County      50       4  ...   -14.075283   -14.070195
        Teton County           50       4  ...    16.308671     1.520747
        Uinta County           50       4  ...   -14.740608   -12.606351
        Washakie County        50       4  ...   -18.020168     1.441961
        Weston County          50       4  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [168]:
# How do we know one approach is better? Let's time them.

def first_approach():
  global df
  return (df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME', 'CTYNAME'])
    .rename(columns={'ESTMIMATESBASE2010': 'Estimates Base 2010'}))

# re-read the data first
df = pd.read_csv(census_data)

# time it...
timeit.timeit(first_approach, number=10)

0.25

In [169]:
# Now the second approach

def second_approach():
  global df
  new_df = df[df['SUMLEV']==50]
  new_df.set_index(['STNAME', 'CTYNAME'], inplace=True)
  return new_df.rename(columns={'ESTMIMATESBASE2010': 'Estimates Base 2010'})

# re-read the data first
df = pd.read_csv(census_data)

# time it...
timeit.timeit(second_approach, number=10)

# Note that the "pandorable" (first) approach is much slower
# i.e. Sometimes the idiomatic approach is not better!

0.07

In [170]:
# Looking at another idiomatic approach using mapping/apply

# our helper function which returns a Series:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [171]:
df.apply(min_max, axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [172]:
# Doing it a different way, this time adding two new columns

def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    # Create a new entry for max
    row['max'] = np.max(data)
    # Create a new entry for min
    row['min'] = np.min(data)
    return row

df.apply(min_max, axis='columns')

# look to the right for the new columns

      SUMLEV  REGION  DIVISION  ...  RNETMIG2015      max      min
0         40       3         6  ...     0.712594  4858979  4785161
1         50       3         6  ...    -2.187333    55347    54660
2         50       3         6  ...    18.293499   203709   183193
3         50       3         6  ...   -10.543299    27341    26489
4         50       3         6  ...     1.107861    22861    22512
...      ...     ...       ...  ...          ...      ...      ...
3188      50       4         8  ...   -14.070195    45162    43593
3189      50       4         8  ...     1.520747    23125    21297
3190      50       4         8  ...   -12.606351    21102    20822
3191      50       4         8  ...     1.441961     8545     8316
3192      50       4         8  ...     6.935294     7234     7065

[3193 rows x 102 columns]

In [173]:
# apply() is more often used with lambda

rows = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013','POPESTIMATE2014', 
        'POPESTIMATE2015']
# Now we'll just apply this across the dataframe with a lambda
df.apply(lambda x: np.max(x[rows]), axis=1).head() # axis='columns' is the same

# lambdas are important to understand

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

In [174]:
# another use of lambda
# adds a new column with the state region

def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

df['state_region'] = df['STNAME'].apply(lambda x: get_state_region(x))
# looking at the results
df[['STNAME','state_region']].head()

    STNAME state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

### Summary

"So there are a couple of Pandas idioms. But I think there's many more, and I haven't talked about them here. So here's an unofficial assignment for you. Go look at some of the top ranked questions on pandas on Stack Overflow, and look at how some of the more experienced authors, answer those questions. Do you see any interesting patterns? Feel free to share them with myself and others in the class."

## Group by

Video: https://www.coursera.org/learn/python-data-analysis/lecture/EehvL/group-by

To help us understand aggregated data on a group level.

In [175]:
# In case we need to get the data again

!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

census_data = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/census.csv'

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [176]:
import pandas as pd
import numpy as np

df = pd.read_csv(census_data)
df = df[df['SUMLEV']==50] # filter the data
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861
5      50       3         6  ...    -1.402476    -1.577232   -0.884411

[5 rows x 100 columns]

In [177]:
# slow (iterative) approach to calc'ing average population

%%timeit -n2

df = pd.read_csv(census_data)

for state in df['STNAME'].unique(): 
  avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
  print(f'{state}: avg population = {avg:.0f}.', end = " ")
print()

Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
2 loops, best of 5: 921 ms per loop

In [178]:
# another approach, using groupby() - much faster! 

%%timeit -n2

df = pd.read_csv(census_data)

for group, frame in df.groupby('STNAME'): # returns a tuple with group (state) and DF
  avg = np.average(frame['CENSUS2010POP'])
  print(f'{group}: avg population = {avg:.0f}.', end = " ")
print()

Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
Alabama: avg population = 140580. Alaska: avg population = 47349. Arizona: avg population = 799002. Arkansas: avg population = 76735. California: avg population = 1262846. Colorado: avg population = 154744. Connecticut: avg population = 794244. Delaware: avg population = 448967. District of Columbia: avg population = 601723. Florida: avg population = 552980. Georgia: avg population = 121096. Hawaii: avg population = 453434. Idaho: avg population = 69670. Illinois: avg population = 249138. Indiana: avg population = 139437. Iowa: avg population = 60927. Kansas: avg population = 53832. Kentucky: avg population = 71725. Louisiana: avg population = 139488. Maine: avg population = 156278. Maryland: avg population = 461884. Massachusetts: avg population = 873017. Michigan: avg population = 235325. Minnesota: avg population = 120544. Mississippi: avg population = 71501. Missouri: avg population = 103257. Montana: avg population = 34716. Nebraska: avg population = 38858. Nevada: avg population = 300061. New Hampshire: avg population = 239358. New Jersey: avg population = 799263. New Mexico: avg population = 121128. New York: avg population = 615178. North Carolina: avg population = 188821. North Dakota: avg population = 24911. Ohio: avg population = 259247. Oklahoma: avg population = 96188. Oregon: avg population = 207085. Pennsylvania: avg population = 373599. Rhode Island: avg population = 350856. South Carolina: avg population = 196824. South Dakota: avg population = 24304. Tennessee: avg population = 132211. Texas: avg population = 197220. Utah: avg population = 184259. Vermont: avg population = 83432. Virginia: avg population = 119372. Washington: avg population = 336227. West Virginia: avg population = 66178. Wisconsin: avg population = 155808. Wyoming: avg population = 46969.
2 loops, best of 5: 85.9 ms per loop

In [179]:
# 

df = pd.read_csv(census_data) # re-read the data

df = df.set_index('STNAME')

def set_batch_numer(item):
  if item[0] < 'M':
    return 0
  elif item[0] < 'Q':
    return 1
  else:
    return 2

for group, frame in df.groupby(set_batch_numer): # groupby() uses the index
  print(f'There are {len(frame)} records in group {group} for processing.')

There are 1196 records in group 0 for processing.
There are 1154 records in group 1 for processing.
There are 843 records in group 2 for processing.

In [180]:
# Using a different data file

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/listings.csv'
df = pd.read_csv(file)
df.head()

         id  ... reviews_per_month
0  12147973  ...               NaN
1   3075044  ...              1.30
2      6976  ...              0.47
3   1436513  ...              1.00
4   7651065  ...              2.25

[5 rows x 95 columns]

In [181]:
# grouping by two columns

# re-read file
df = pd.read_csv(file) 

# set index so groupby() uses it
df=df.set_index(["cancellation_policy","review_scores_value"])

# When we have a multiindex we need to pass in the levels using level=(index_vals)
for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [182]:
# re-read file and set index of dataframe
df = pd.read_csv(file) 
df=df.set_index(["cancellation_policy","review_scores_value"])

def grouping_fun(item):
  if item[1] == 10.0:
    return (item[0], '10.0')
  else:
    return (item[0], 'not 10.0')

for group, frame in df.groupby(by=grouping_fun): 
  print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

In [183]:
# visualizing the grouping
df.head()

                                               id  ... reviews_per_month
cancellation_policy review_scores_value            ...
moderate            NaN                  12147973  ...               NaN
                    9.0                   3075044  ...              1.30
                    10.0                     6976  ...              0.47
                    10.0                  1436513  ...              1.00
flexible            10.0                  7651065  ...              2.25

[5 rows x 93 columns]

### Aggregation

In [184]:
# re-read and prep data
df = pd.read_csv(file) 
df.reset_index()

df.groupby("cancellation_policy").agg({"review_scores_value":np.average})

# Note that this doesn't work because of NaN's. See next cell for solution.

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [185]:
# the previous example didn't work because of NaN's. Let's rewrite using np.nanmean

df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [186]:
# more than one grouped columns to print
# note the tuple with review_scores_value

df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean, np.nanstd),
                                       "reviews_per_month":np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

### Transformation

In [187]:
# re-read and prep data
df = pd.read_csv(file) 

cols = ['cancellation_policy', 'review_scores_value']

transform_df = df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [188]:
# the above info is not very useful, so let's merge back with the original dataframe
# I'm not totally sure about what this example is demonstrating, especially with 
# the groupby() in the previous cell. This was poorly explained, IMO.

transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns', inplace=True)
df = df.merge(transform_df, left_index=True, right_index=True)
df.head()

         id  ... mean_review_scores
0  12147973  ...           9.307398
1   3075044  ...           9.307398
2      6976  ...           9.307398
3   1436513  ...           9.307398
4   7651065  ...           9.237421

[5 rows x 96 columns]

In [189]:
# Looking at the difference between two columns and creating a new one

df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

### Filtering

In [190]:
 # filtering with mean 'review_scores_value' results > 9.2
 
 df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)
 df.head()

         id  ... mean_diff
0  12147973  ...       NaN
1   3075044  ...  0.307398
2      6976  ...  0.692602
3   1436513  ...  0.692602
4   7651065  ...  0.762579

[5 rows x 97 columns]

### Applying

In [191]:
# re-read data
file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/listings.csv'
df = pd.read_csv(file)

df = df[['cancellation_policy', 'review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [192]:
def calc_mean_review_scores(group):
    # group is a dataframe just of whatever we have grouped by, e.g. cancellation policy, so we can treat
    # this as the complete dataframe
    avg=np.nanmean(group["review_scores_value"])
    # now broadcast our formula and create a new column
    group["review_scores_mean"]=np.abs(avg-group["review_scores_value"])
    return group

# Now just apply this to the groups
df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

  cancellation_policy  review_scores_value  review_scores_mean
0            moderate                  NaN                 NaN
1            moderate                  9.0            0.307398
2            moderate                 10.0            0.692602
3            moderate                 10.0            0.692602
4            flexible                 10.0            0.762579

### Summary

"Groupby is a powerful and commonly used tool for data cleaning and data analysis. Once you have grouped the data by some category you have a dataframe of just those values and you can conduct aggregated analsyis on the segments that you are interested. The groupby() function follows a split-apply-combine approach - first the data is split into subgroups, then you can apply some transformation, filtering, or aggregation, then the results are combined automatically by pandas for us."

## Scales

Video: https://www.coursera.org/learn/python-data-analysis/lecture/sqXb4/scales

Types of scales:

- ratio scales (units equally spaced, where mathematical operations are all valid. Height and width are examples.
- interval scales (where 0 is data, not absense, such as temperature)
- ordinal scales (grade letters A B etc.)
- nominal scale (teams of a sport)

In [193]:
# Ordinal example

import pandas as pd

df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                  index=['excellent', 'excellent', 'excellent', 'good', 'good', 
                         'good', 'ok', 'ok', 'ok', 'poor', 'poor'],
                  columns=["Grades"])
df.head()

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B

In [194]:
df.dtypes

Grades    object
dtype: object

In [195]:
# let's change the object type to category

df["Grades"].astype("category").head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [196]:
# Let's use Pandas to make the data "ordered"

my_categories = pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], 
                           ordered=True)
# use the astype() function
grades=df["Grades"].astype(my_categories)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [197]:
# Prove that they're ordered

df[df['Grades'] > 'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [198]:
# Re-read resources files from GitHub
!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [199]:
import numpy as np
import pandas as pd

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/census.csv'
df = pd.read_csv(file)
df = df[df['SUMLEV'] == 50]
df = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)
df.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [200]:
# Make bins using cut()

pd.cut(df,10)

STNAME
Alabama                   (11706.087, 75333.413]
Alaska                    (11706.087, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                  (11706.087, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                   (11706.087, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                     (11706.087, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                   (11706.087, 75333.413]
Iowa                      (11706.087, 75333.413]
Kansas                    (11706.087, 75333.413]
Kentucky                  (11706.087, 75333.413]
Louisiana                 (11706.087, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                 (11706.087, 75333.413]
Mississippi               (11706.087, 75333.413]
Missouri                  (11706.087, 75333.413]
Montana                   (11706.087, 75333.413]
Nebraska                  (11706.087, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico                (11706.087, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota              (11706.087, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                  (11706.087, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota              (11706.087, 75333.413]
Tennessee                 (11706.087, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                   (11706.087, 75333.413]
Virginia                  (11706.087, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia             (11706.087, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                   (11706.087, 75333.413]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64]): [(11706.087, 75333.413] < (75333.413, 138330.766] <
                                     (138330.766, 201328.118] < (201328.118, 264325.471] < ... <
                                     (390320.176, 453317.529] < (453317.529, 516314.881] <
                                     (516314.881, 579312.234] < (579312.234, 642309.586]]

## Pivot Table

Video: https://www.coursera.org/learn/python-data-analysis/lecture/SgdCp/pivot-table

"A pivot table is a way of summarizing data in a DataFrame for a particular purpose. It makes heavy use of the aggregation function. A pivot table is itself a DataFrame, where the rows represent one variable that you're interested in, the columns another, and the cell's some aggregate value. A pivot table also tends to includes marginal values as well, which are the sums for each column and row. This allows you to be able to see the relationship between two variables at just a glance."

In [201]:
# Re-read resources files from GitHub
!git clone https://github.com/pbeens/Coursera-Introduction-to-Data-Science-with-Python.git

fatal: destination path 'Coursera-Introduction-to-Data-Science-with-Python' already exists and is not an empty directory.

In [202]:
import pandas as pd
import numpy as np

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/cwurData.csv'

df = pd.read_csv(file)
df.head()

   world_rank                            institution  ...   score  year
0           1                     Harvard University  ...  100.00  2012
1           2  Massachusetts Institute of Technology  ...   91.67  2012
2           3                    Stanford University  ...   89.50  2012
3           4                University of Cambridge  ...   86.17  2012
4           5     California Institute of Technology  ...   85.21  2012

[5 rows x 14 columns]

In [203]:
# Set up data for pivoting

# world rank 1-100 = top tier, 101-200 = 2nd tier, 201-300 = 3rd tier, 
# 301+ = other top university

file = '/content/Coursera-Introduction-to-Data-Science-with-Python/resources/week-3/datasets/cwurData.csv'
df = pd.read_csv(file)
df = df.set_index('institution')

def set_rank(world_rank):
  if world_rank < 101:
    return 'Top Tier'
  elif world_rank < 201:
    return 'Second Tier'
  elif world_rank < 301:
    return 'Third Tier'
  else:
    return 'Other Top University'

df['Rank_Level'] = df['world_rank'].apply(lambda x: set_rank(x))
df.head()

                                       world_rank  ... Rank_Level
institution                                        ...
Harvard University                              1  ...   Top Tier
Massachusetts Institute of Technology           2  ...   Top Tier
Stanford University                             3  ...   Top Tier
University of Cambridge                         4  ...   Top Tier
California Institute of Technology              5  ...   Top Tier

[5 rows x 14 columns]

In [204]:
# Pivoting

df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean]).head()

                           mean
Rank_Level Other Top University Second Tier Third Tier Top Tier
country
Argentina             44.672857         NaN        NaN      NaN
Australia             44.645750     49.2425  47.285000  47.9425
Austria               44.864286         NaN  47.066667      NaN
Belgium               45.081000     49.0840  46.746667  51.8750
Brazil                44.499706     49.5650        NaN      NaN

In [205]:
# Can use aggfunc for more than one process

df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max]).head()

                           mean              ...       amax
Rank_Level Other Top University Second Tier  ... Third Tier Top Tier
country                                      ...
Argentina             44.672857         NaN  ...        NaN      NaN
Australia             44.645750     49.2425  ...      47.47    51.61
Austria               44.864286         NaN  ...      47.78      NaN
Belgium               45.081000     49.0840  ...      47.14    52.03
Brazil                44.499706     49.5650  ...        NaN      NaN

[5 rows x 8 columns]

In [206]:
# Adding in margins=True (adds All columns)

df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max], margins=True).head()

                           mean              ...     amax
Rank_Level Other Top University Second Tier  ... Top Tier    All
country                                      ...
Argentina             44.672857         NaN  ...      NaN  45.66
Australia             44.645750     49.2425  ...    51.61  51.61
Austria               44.864286         NaN  ...      NaN  47.78
Belgium               45.081000     49.0840  ...    52.03  52.03
Brazil                44.499706     49.5650  ...      NaN  49.82

[5 rows x 10 columns]

In [207]:
# Copy pivoted data into new dataframe

new_df = df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max], margins=True)
print(new_df.index)
print(new_df.columns)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')
MultiIndex([('mean', 'Other Top University'),
            ('mean',          'Second Tier'),
            ('mean',           'Third Tier'),
            ('mean',             'Top Tier'),
            ('mean',                  'All'),
            ('amax', 'Other Top University'),
            ('amax',          'Second Tier'),
            ('amax',           'Third Tier'),
            ('amax',             'Top Tier'),
            ('amax',                  'All')],
           names=[None, 'Rank_Level'])

In [208]:
# headings are hierarchical so we have to address them like this....

new_df['mean']['Top Tier'].head()

country
Argentina        NaN
Australia    47.9425
Austria          NaN
Belgium      51.8750
Brazil           NaN
Name: Top Tier, dtype: float64

In [209]:
# and each column is a Series

type(new_df['mean']['Top Tier'])

pandas.core.series.Series

In [210]:
# maximum average score?

new_df['mean']['Top Tier'].idxmax()

# idxmax() is just one example of Series methods

'United Kingdom'

In [211]:
# let's play with the pivot table

# first, how does it look now?

new_df.head()

                           mean              ...     amax
Rank_Level Other Top University Second Tier  ... Top Tier    All
country                                      ...
Argentina             44.672857         NaN  ...      NaN  45.66
Australia             44.645750     49.2425  ...    51.61  51.61
Austria               44.864286         NaN  ...      NaN  47.78
Belgium               45.081000     49.0840  ...    52.03  52.03
Brazil                44.499706     49.5650  ...      NaN  49.82

[5 rows x 10 columns]

In [212]:
# now let's try stacking

new_df = new_df.stack()
new_df.head()

                                     mean   amax
country   Rank_Level
Argentina Other Top University  44.672857  45.66
          All                   44.672857  45.66
Australia Other Top University  44.645750  45.97
          Second Tier           49.242500  50.40
          Third Tier            47.285000  47.47

In [213]:
# let's unstack

new_df.unstack().head()

                           mean              ...     amax
Rank_Level Other Top University Second Tier  ... Top Tier     All
country                                      ...
All                   44.738871    49.06545  ...   100.00  100.00
Argentina             44.672857         NaN  ...      NaN   45.66
Australia             44.645750    49.24250  ...    51.61   51.61
Austria               44.864286         NaN  ...      NaN   47.78
Belgium               45.081000    49.08400  ...    52.03   52.03

[5 rows x 10 columns]

In [214]:
# what if we unstack twice???

new_df.unstack().unstack().head()

      Rank_Level            country
mean  Other Top University  All          44.738871
                            Argentina    44.672857
                            Australia    44.645750
                            Austria      44.864286
                            Belgium      45.081000
dtype: float64

### Summary

"So that's pivot tables. This has been a pretty short description, but they're incredibly useful when dealing with numeric data, especially if you're trying to summarize the data in some form. You'll regularly be creating new pivot tables on slices of data, whether you're exploring the data yourself or preparing data for others to report on. And of course, you can pass any function you want to the aggregate function, including those that you define yourself."

## Date/Time Functionality

Video: https://www.coursera.org/learn/python-data-analysis/lecture/aIedN/date-time-functionality

"In today's lecture, where we'll be looking at the time series and date functionally in pandas. Manipulating dates and time is quite flexible in Pandas and thus allows us to conduct more analysis such as time series analysis, which we will talk about soon. Actually, pandas was originally created by Wed McKinney to handle date and time data when he worked as a consultant for hedge funds."

# Experiments

In [215]:
# Marquees are back! ð
%%html
<marquee style='width: 50%; color: Green;'>Welcome to Tutorialspoint!</marquee>

In [216]:
import numpy as np

a = np.zeros([20,20])
b = np.ones([20,20])

print(a + b)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]