Welcome to my attempt to summarize the knowledge and skills learned during the 2021 Lighthouse Labs 21 Day Data Challenge. Some examples are pulled directly from their tutorials, and some are my own. 

The daily titles are not the same as the titles used on their website. I have done this to clarify what is being learned in each session.

If you spot any mistakes or feel anything can be clarified, please contact me at pbeens@gmail.com. Thanks!

#Day 1: Variables, f-Strings

Link: https://data-challenge.lighthouselabs.ca/challenge/1

Challenge 1 started with an overview of variables, such as:

In [1]:
var_a = 'This is a string.'
var_b = 21
var_c = ['This','is','a','list','on', 'the',21,'day data challenge.']

Note that strings can be surrounded by single quotes or double quotes, dependent on your style (I like single quotes) or the situation (such as when the string contains a quote).

This was followed by an introduction to f-strings, which I highly recommend everyone learns how to use right away. The example given:

In [2]:
x = 'string'
y = 2021

print(f'This is a {x} format and the year is {y}.')

This is a string format and the year is 2021.

Note the 'f' preceding the first quote of the string and that the variables are contained within braces. 

For more information about f-strings, see https://zetcode.com/python/fstring/.

#Day 2: Data Types, Lists, sum(), round(), Simple Math

Link: https://data-challenge.lighthouselabs.ca/challenge/2

## Numeric Data Types
There are two types of numeric data types: integer (whole number) and float, like fractions or decimals.

## Lists 
Lists are a sequence of variables separated by commas and contained within brackets, such as:

In [3]:
list_of_int = [1,2,3,4,5] #list of integers
list_of_string = ['string1','string2', 'string3'] #list of strings
list_of_anything = [1, 'string', 3.2] #list with an integer, string, and float.

Note that lists can include multiple data types. Lists can even contain other lists.

Lists are indexed numerically. The first index number is 0 (zero), so the first element of a list would be accessed like this:

In [4]:
lst = ['a', 'town', 'red', 4]
print(lst[0])

a

## sum()
The contents of a numeric list can easily be added by using the `sum()` function:

In [5]:
lst = [1, 2, 4, 3.245, 99]
print(sum(lst))

109.245

## Simple Math

Let's do some simple math:

In [6]:
a = 34.2
b = 21.72

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division
print(2 ** 3) # exponentiation
print(5 // 2) # integer division
print(5 % 2) # remainder (modulus)

55.92
12.480000000000004
742.8240000000001
1.5745856353591163
8
2
1

If any of the results above look strange, it's because of the way computers do math. For further reading about this, see:
https://stackoverflow.com/questions/21895756/why-are-floating-point-numbers-inaccurate

## Comments
Did you notice the comments in the code above? Anything after a "`#`" is a comment. Use lots of comments in your code!

## round()
If we want to round any of the results, we can use the `round()` function:

In [7]:
print(a / b)            # no rounding
print(round(a / b, 2))  # 2 decimals places

1.5745856353591163
1.57

#Day 3: List Slicing, Dictionaries, and Indexing

Link: https://data-challenge.lighthouselabs.ca/challenge/3

## List Slicing

Revisiting lists, sometimes we need to extract more than one item in the list. Recall that lists are indexed starting at 0, as is shown in this previous example:

In [8]:
lst = [1, 2, 4, 3.245, 99]
print(lst[0])

1

Let's now work on extracting more than one item. We'll use a list of fruits and extract different portions. Note that lists can be indexed from the front (index 0) or from the end (index -1). The first index is the start of the *slice* (inclusive), the second index is the end of the slice, but it does not include that indexed item (exclusive).

In [9]:
fruits = ['Apple', 'Pear', 'Orange', 'Banana', 'Kiwi', 'Grapefruit', 'Kumquat']
print(fruits[0:2]) # 'Apple', 'Pear'
print(fruits[1:3]) # 'Pear', 'Orange'
print(fruits[-3:-1]) # 'Pear', 'Orange'

['Apple', 'Pear']
['Pear', 'Orange']
['Kiwi', 'Grapefruit']

Note that you leave the first part of the argument (the part in the brackets) blank, the slice starts at [0]. If you leave the second part of the argument blank, it ends at the last item:

In [10]:
print(fruits[:2]) # 'Apple', 'Pear', same as [0:2]
print(fruits[4:]) # 'Kiwi', 'Grapefruit', 'Kumquat'

['Apple', 'Pear']
['Kiwi', 'Grapefruit', 'Kumquat']

What if you want to print the slice backwards? Simple. Just add :-1 to the arguments, as in:

In [11]:
print(fruits[::-1])

['Kumquat', 'Grapefruit', 'Kiwi', 'Banana', 'Orange', 'Pear', 'Apple']

What if you want to print every 2nd item? Check this out:

In [12]:
print(fruits[::2])

['Apple', 'Orange', 'Kiwi', 'Kumquat']